body {
    margin: 0;
    background-color: var(--color-primary);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(110deg, var(--color-primary), var(--color-primary));
}

html,
body {
    margin: 0;
    padding: 0;
}

#toolbar {
    padding: 10px;
    border-bottom: 1px solid var(--color-secondary);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#toolbar {
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.88);
}

#canvasWrapper {
    width: 100%;
    flex: 1;
    text-align: center;
    position: relative;
    background: var(--color-primary);
}

canvas {
    border-left: 1px solid var(--color-secondary);
    border: 1px solid var(--color-secondary);
    touch-action: none;
    text-align: center;
    background: var(--color-primary);
    cursor: crosshair;
    position: relative;
}

.floating-textbox,
.floating-table {
    transition: none;
    position: absolute;
    border: 1px solid var(--color-secondary);
    background: var(--color-primary);
    resize: both;
    overflow: auto;
    cursor: move;
    padding: 5px;
    color: var(--color-primary-text);
}

.floating-textbox textarea {
    background-color: var(--color-primary);
    border: none;
    transition: none;
}

.floating-textbox button {
    color: var(--color-primary-text);
    background-color: var(--color-primary);
    border: 1px solid var(--color-secondary);
    border-radius: 2px;
}

.floating-table table {
    border-collapse: collapse;
    transition: none;
}

.floating-table td,
.floating-table th {
    border: 1px solid var(--color-secondary);
    padding: 4px;
    transition: none;
}

.inputSecondary {
    margin-top: 11px;
}

.floating-image,
.floating-pdf {
    border: 1px solid var(--color-secondary);
    resize: both;
    overflow: auto;
    padding: 2px;
    z-index: 1;
    transition: none;
    background-color: var(--color-primary);
    transition: none;
}

.floating-image button,
.floating-pdf button {
    color: var(--color-primary-text);
    background-color: var(--color-primary);
    border: 1px solid var(--color-secondary);
    border-radius: 2px;
}

.page {
    top: 20%;
    position: relative;
    width: 100%;
    height: 80%;
    background: var(--color-primary);
}

.zoomable {
    touch-action: none;
}


.table-toolbar {
    display: flex;
    gap: 4px;
    margin-bottom: 4px;
}

.table-toolbar button {
    font-size: 0.8rem;
    padding: 2px 4px;
    color: var(--color-primary-text);
    background-color: var(--color-primary);
    border: 1px solid var(--color-secondary);
    border-radius: 2px;
}

#btnContainer {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0;
}

.pageCanvas {
    border: 1px solid var(--color-secondary);
    touch-action: none;
    text-align: center;
    background: var(--color-primary);
    cursor: crosshair;
    position: relative;
}