:root {
    --color-primary: #0A0A0A;
    --color-primary-text: #F5E3E0;

    --color-secondary: #DD00B5;
    --color-secondary-text: #F5E3E0;

    --color-accent: #D282A6;
    --color-accent-text: #ffffff;

    --color-white: #ffffff;
    --color-black: #000000;
    --color-muted: #888888;
}

* {
    color: var(--color-primary-text);
    transition: all ease-in-out 0.3s;
    font-family: "Open Sans", sans-serif;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-primary);
    background-image: linear-gradient(110deg, #DD00B5, var(--color-primary));
    background-size: cover;
}

.btnPrimary {
    position: relative;
    border: 1px solid var(--color-secondary);
    border-radius: 10px;
    background-color: var(--color-primary);
    padding: 15px 30px;
    overflow: hidden;
    z-index: 1;
    font-size: larger;
    cursor: pointer;
    margin: 5px;
}

.btnSecondary:hover {
    transform: scale(1.03);
    background-color: var(--color-secondary);
}


.btnPrimary:hover {
    transform: scale(1.03);
}

.btnPrimary::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-secondary);
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 0;
}

.btnPrimary:hover::before {
    transform: translateX(0%);
}

.btnPrimary span {
    position: relative;
    z-index: 1;
    color: var(--color-primary-text);
    transition: color 0.3s ease-in-out;
}

.btnPrimary:hover span {
    color: var(--color-accent-text);
}

.inputPrimary {
    color: var(--color-primary-text);
    font-size: larger;
    border: 1px solid var(--color-secondary);
    border-radius: 10px;
    background-color: var(--color-primary);
    padding: 15px 30px;
}

.btnSecondary {
    position: relative;
    border: 1px solid var(--color-secondary);
    border-radius: 10px;
    background-color: var(--color-primary);
    padding: 7.5px 20px;
    overflow: hidden;
    z-index: 1;
    font-size: smaller;
    cursor: pointer;
    margin: 5px;
}

.inputSecondary {
    color: var(--color-primary-text);
    font-size: smaller;
    border: 1px solid var(--color-secondary);
    border-radius: 10px;
    background-color: var(--color-primary);
    padding: 7.5px 20px;
}

.inputSecondary:hover {
    background-color: var(--color-secondary);
    cursor: pointer;
}