html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-primary);
    background-image: linear-gradient(90deg, #DD00B5, var(--color-primary));
    background-size: cover;
}

#policyText {
    width: 80%;
    align-items: center;
    padding-left: 8%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#policyTitle {
    text-align: center;
}