<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <title>Landing</title>
</head>

<body>
    <div id="grid-container">
        <div id="indexRow1">
            <h3>Insert Preview Pictures here</h3>
        </div>
        <div id="indexRow2">
            <h1 id="logo">Noted<img src="/media/pen_white.png" id="logoImg"></h1>
            <div id="indexInfoText">
                <h4>
                    "Because taking notes has never been easier"
                </h4>
            </div>
        </div>
        <div id="indexRow3">
            <h3>Try for free</h3>
            <input class="inputPrimary" id="indexEmailInput" type="text" placeholder="E-Mail">
            <button onclick="indexRedirectRegister()" class="btnPrimary"><span>Sign Up</span></button>
            <p><a href="/auth/login/">or Sign In</a></p>
        </div>
    </div>
    <div class="footer">
        <ul>
            <li><a href="/about/">About Us</a></li>
            <li><a href="/policy/">Policy</a></li>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="/">Remove my data</a></li>
        </ul>
    </div>
</body>
</html>
<script>
    const emailValue = document.getElementById('indexEmailInput')

    function indexRedirectRegister() {
        if(!emailValue.value) {
            alert('Please enter an E-Mail Address');
            return
        }
        window.localStorage.setItem('indexEmail', emailValue.value);
        window.location.replace('/auth/register/');
    }
</script>